.content {
    padding-top: 1.5em;
    padding-left: 4em;
    padding-right: 4em;
    color: #39796b;
}

.header {
    font-size: 1.5em;
    font-style: normal;
    font-weight: normal;
}

.icon {
    font-size: 1em;
}
