.layout {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #1675d1;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBox {
    background-color: white;
    padding: 2em;
    width: 30em;
    border-radius: 3px;
}

.error {
    margin: 1em;
    padding: 0.5em;
    color: white;
    background-color: #ff1744;
    border-radius: 5px;
}

.loading {
    margin: 1em;
    padding: 0.5em;
    color: white;
    background-color: #8ac148;
    border-radius: 5px;
}